.bg_contact {
  background-image: url("/bg_contact.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: 767px) {
    background-image: url("/bg-form_mobile.webp");
    background-size: cover;
    background-position: top center;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    background-image: url("/bg-form.webp");
  }
}

.inputControl {
  border: 0px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.412);
  outline: none !important;
}
